/*TIPOGRAFIA*/
$colorUno: #34495E;
$colorDos: #1ABC9C;
$colorTres: rgb(19, 18, 18); 
$colorSeis: #727475;
$colorOcho: azure;

/*FONDOS*/
$colorCuatro: #34495E;
$colorCinco:  #1ABC9C;
$colorSeis: rgb(19, 18, 18); 
$colorSiete: #17202a;